[init]
	defaultBranch = main
[user]
	email = 105875079+KLTPL@users.noreply.github.com
	name = Kacper Lebiedziński
[credential]
	credentialStore = secretservice
	helper = 
	helper = /usr/local/bin/git-credential-manager
[core]
	autocrlf = false
[credential "https://dev.azure.com"]
	useHttpPath = true
